.myinput {
	width: 80%;
	height: 35px;
	padding: 0 8px;
	line-height: 35px;
	border-radius: 6px;
	border: 2px solid deepskyblue;
}

.mybtn {
	width: 15%;
	height: 35px;
	padding: 0 8px;
	line-height: 35px;
	cursor: pointer;
	background-color: deepskyblue;
	border-radius: 6px;
}